.App {
  width: 90%;
  margin: 0 auto;
  border: 2px solid #ededed;
  min-height: 400px;
  padding:10px;
}

.display{
  background-color:#ededed;
  border:1px solid #777;
  font-size:50px;
  font-weight:400;
  width:40%;
  margin-bottom:20px;
}

.red{
  color:red;
}

.green{
  color:green;
}

.bold{
  font-weight:700;
}